<h2><%= @escapade.title %></h2>
  <h3><%= @escapade.user.email %></h3>
  <div class = "idea clearfix" >
    <div class = "escapade description">
      <%= image_tag @escapade.image %>
      <%= @escapade.description %>
    </div>
    <div class = "timeframe">
      <h3>Timeframe:</h3>
        <p><%= "#{@escapade.start_date.strftime('%B %-d, %Y')} - #{@escapade.end_date.strftime('%B %-d, %Y')}"%></p>
      <% if current_user == @escapade.user %>
        <%= link_to "Edit Idea", edit_escapade_path(@escapade) %>
        <h3>Optimal Dates:</h3>
          <% @optimal_dates.each do |i|%>
            <p><%= "#{i.first.strftime('%B %-d, %Y')} - #{i.last.strftime('%B %-d, %Y')}" %></p>
          <% end %>
        <%= link_to "View all availability", escapade_availabilities_path(@escapade) %>
        <h3>Upgrade Your Idea to an Event:</h3>
        <%= form_for @escapade do |f| %>
          <%= f.radio_button :status, :event %>
          <%= f.submit %>
        <% end %>
      <% elsif @response.empty? %>
        <%= link_to "I'm interested in this escapade!", escapade_responses_path(@escapade), method: :post %>
      <% else %>
        <%= link_to "Edit my availability", escapade_response_path(@escapade, @response) %>
        <%= link_to "I'm no longer interested in this escapade", escapade_response_path(@escapade, @response), method: :delete %>
      <% end %>
    </div>
  </div>
  <div class = "responses">
    <h3>Responses:</h3>
      <% @responses.each do |response| %>
        <ul>
          <li><%= response.user.email %>
            <% if current_user == response.user %>
              <%= link_to "Edit", escapade_response_path(@escapade, response) %>
            <% else %>
              <%= link_to "Availability", escapade_response_path(@escapade, response) %>
            <% end %>
          </li>
          <ul>
            <li><%= response.comment %></li>
          </ul>
        </ul>
      <% end %>
  </div>
