<% if current_user == @user %>
  <h2>My Profile</h2>
<% else %>
  <h2><%= @user.email %></h2>
<% end %>
<div class = "friending">
  <% unless @user == current_user %>
    <% if current_user.friends.include?(@user) %>
      <%= link_to "Remove #{@user.email} from my friends", friendship_path(current_user.friendships.find_by(friend_id: @user)), method: :delete %>
    <% else %>
      <%= link_to "Add #{@user.email} to my friends", friendships_path(friend_id: @user), method: :post %>
    <% end %>
  <% end %>
</div>
<div class = "escapade user-escapades">
  <h2>Ideas</h2>
    <% @user.escapades.each do |escapade| %>
      <% if escapade.status == 'idea' %>
        <div class = "escapade thumbnail">
          <h2><%= link_to escapade.title, escapade_path(escapade) %></h2>
          <%= link_to (image_tag escapade.image), escapade_path(escapade) %>
        </div>
      <% end %>
    <% end %>
  <h2>Events</h2>
    <% @user.escapades.each do |escapade| %>
      <% if escapade.status == 'event' %>
        <div class = "escapade thumbnail">
          <h2><%= link_to escapade.title, escapade_path(escapade) %></h2>
          <%= link_to (image_tag escapade.image), escapade_path(escapade) %>
        </div>
      <% end %>
    <% end %>
</div>
<div class = "user-friends">
  <h2>Friends</h2>
  <ul>
    <% @user.friends.each do |friend| %>
      <li><%= link_to friend.email, user_path(friend) %></li>
    <% end %>
  </ul>
</div>
