<div class = "edit-response">
<% if current_user != @response.user %>
  <h2><%= @response.user.email %> </h2>
    <p><%= @response.comment %></p>
    <h3>Current Availability:</h3>
      <% @response.availabilities.each do |availability| %>
      <ul>
        <li><%= "#{availability.start_date.strftime('%B %-d, %Y')} - #{availability.end_date.strftime('%B %-d, %Y')}"%></li>
      </ul>
      <% end %>
<% elsif @response.availabilities.empty? %>
  <h2>When are you available?</h2>
<% else %>
  <h2>Response</h2>
    <p><%= @response.comment %></p>
      <% if @response.comment == "" || @response.comment == nil %>
        <%= link_to "Add comment", edit_escapade_response_path(@escapade, @response) %>
      <% else %>
        <%= link_to "Edit comment", edit_escapade_response_path(@escapade, @response) %>
      <% end %>
  <h3>Current Availability:</h3>
    <% @response.availabilities.each do |availability| %>
      <ul>
        <li><%= "#{availability.start_date.strftime('%B %-d, %Y')} - #{availability.end_date.strftime('%B %-d, %Y')}"%></li>
        <li><%= link_to "Edit this date range", edit_availability_path(availability) %></li>
      </ul>
    <% end %>
<% end %>
    <% if current_user == @response.user %>
      <h3>Add Availability: </h3>
        <p>(Choose dates between <%= @escapade.start_date.strftime('%B %-d, %Y') %> and <%= @escapade.end_date.strftime('%B %-d, %Y') %>)</p>
        <%= form_for @availability do |f| %>
        <%= f.hidden_field :response_id, value: @response.id %>
        <%= f.hidden_field :escapade_id, value: @escapade.id %>
        <%= f.label :start_date %>
        <%= f.date_field :start_date %>
        <%= f.label :end_date %>
        <%= f.date_field :end_date %>
        <%= f.submit "Add Availability"%>
        <% end %>
      <%= link_to "No longer interested", escapade_response_path(@escapade, @response), method: :delete %>
    <% end %>
    <%= link_to "Back to Escapade", escapade_path(@escapade) %>
  </div>
